<!DOCTYPE HTML>
<html>
<head>
  <title></title>
    #set($assetsServer = 'http://assets.daily.taobao.net')
    $control.setTemplate("vmcommon/p/3.0/c2c/common/assets.vm").setParameter('compatible', "true").setParameter('js', 'ks-core').setParameter('appendStyle', "")
</head>
<body>
<div id="page">
    ##param showSiteSearch=true 显示头部搜索条
    ##param headerStyle 自定义头部结构 tmall：商城头；alimall：无名良品头；不传或其它值为C2C头
    $control.setTemplate("vmcommon/p/3.0/c2c/common/header.vm").setParameter('showSiteSearch', true).setParameter('headerStyle', "")
    <div id="content">
    $screen_placeholder
    </div>
    ##引入通用尾
    ##param footerStyle 自定义尾部结构 tmall：商城尾；alimall：无名良品尾；不传或其它值为C2C尾
    $control.setTemplate("vmcommon/p/3.0/c2c/common/footer.vm").setParameter('footerStyle', "true").setParameter('CP', true)
</div>

</body>
</html>